# Ignore temporary files and folders.
tmp
*~
.*#
\#*#

# Ignore `ag` files.
.agignore

# Ignore `composer.phar` files.
composer.phar

# Ignore local docker start/stop scripts.
/docker-start.sh
/docker-stop.sh
